/* Use a better box model (opinionated). */

*,
::before,
::after {
	box-sizing: border-box;
}

/*
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/

html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	tab-size: 4; /* 3 */
}

/* Remove all default margins. */

* {
	margin: 0;
}

/* Add the correct font weight in Chrome and Safari. */

b,
strong {
	font-weight: bolder;
}

/*
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Add the correct font size in all browsers. */

small {
	font-size: 80%;
}

/* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016) */

table {
	border-color: currentcolor;
}

/**
1. Inherit fonts for form controls.
2. Remove the form control margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font: inherit; /* 1 */
	margin: 0; /* 2 */
}

/* Correct the inability to style clickable types in iOS and Safari. */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/* Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers. */

legend {
	padding: 0;
}

/* Add the correct vertical alignment in Chrome and Firefox. */

progress {
	vertical-align: baseline;
}

/* Correct the cursor style of increment and decrement buttons in Safari. */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Add the correct display in Chrome and Safari. */

summary {
	display: list-item;
}

/*
1. Increase line height to make text more readable
2. Improve text rendering on macOS
*/

body {
  line-height: 1.5; /* 1 */
  -webkit-font-smoothing: antialiased; /* 2 */
}

/* Retain original line height on headers to prevent excessive gap */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

/* Remove default list styling for any list where role="list" is present as an attribute */

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

/*
1. Change all media types to block to prevent issues with inline display
2. Prevent media from overflowing containers that aren't wide enough to contain them
*/

img, picture, video, canvas, svg {
  display: block; /* 1 */
  max-width: 100%; /* 2 */
}

/* Enable keyword animations */

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Avoid text overflows */

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}