:root {
    --green: hsl(180, 100%, 32%);
    --black: hsl(0, 0%, 30%);
    --white: hsl(60, 27%, 94%);
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.players {
    background-color: var(--white);
    padding: 48px;
    display: flex;
    justify-content: center;
    gap: 25px;
    position: relative;

    & .player {
        padding: 0 18px;
        border: 0.5px solid hsl(0, 0%, 85%);
        border-radius: 15px;
        display: flex;
        font-size: 38px;

        & .marker {
            font-size: 43px;
        }

        & > input {
            all: unset;
            width: 300px;
        }
    }

    & .player-status-text {
        color: var(--black);
        font-size: 24px;
        font-weight: 500;
        position: absolute;
        bottom: 5px;
    }
}

.game-board {
    background-color: var(--green);
    padding: 90px;
    display: grid;
    grid-template-columns: repeat(3, 175px);
    place-content: center;

    & .cell {
        font-family: "Albert Sans";
        font-weight: bold;
        background-color: inherit;
        font-size: 130px;
        border: 4px solid hsl(180, 100%, 26%);
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.x-marked {
            color: var(--black);
        }

        &.o-marked {
            color: var(--white);
        }

        &:first-child, &:nth-child(2), &:nth-child(3) {
            border-top: none;
        }

        &:last-child, &:nth-last-child(2), &:nth-last-child(3) {
            border-bottom: none;
        }

        &:first-child, &:nth-child(4), &:nth-last-child(3) {
            border-left: none;
        }

        &:nth-child(3), &:nth-last-child(4), &:last-child {
            border-right: none;
        }
    }
}

.new-game-btn {
    background-color: var(--white);
    flex: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > button {
        border: none;
        background-color: inherit;
        font-size: 30px;
        font-weight: 500;
        color: var(--green);
        cursor: pointer;
    }
}