:root {
    --green-primary: hsl(180, 100%, 27%);
    --green-secondary: hsl(180, 100%, 22%);
}

body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.players {
    padding: 45px;
    display: flex;
    justify-content: center;
    gap: 25px;

    & .player {
        padding: 0 18px;
        border: 0.5px solid hsl(0, 0%, 0%);
        border-radius: 15px;
        display: flex;
        font-size: 40px;

        & .marker {
            font-size: 45px;
        }

        & > input {
            all: unset;
            width: 300px;
        }
    }
}

.game-board {
    background-color: var(--green-primary);
    padding: 95px;
    display: grid;
    grid-template-columns: repeat(3, 175px);
    place-content: center;

    & .cell {
        font-size: 120px;
        border: 4px solid var(--green-secondary);
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child, &:nth-child(2), &:nth-child(3) {
            border-top: none;
        }

        &:last-child, &:nth-last-child(2), &:nth-last-child(3) {
            border-bottom: none;
        }

        &:first-child, &:nth-child(4), &:nth-last-child(3) {
            border-left: none;
        }

        &:nth-child(3), &:nth-last-child(4), &:last-child {
            border-right: none;
        }
    }
}

.new-game-btn {
    flex: 1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > button {
        border: none;
        background-color: inherit;
        font-size: 30px;
        color: var(--green-primary);
        cursor: pointer;
    }
}